<app-banner></app-banner>
<app-nav-bar></app-nav-bar>
<app-load-calculator-page (refreshTable)="ngAfterViewInit()" *ngIf="isUser"></app-load-calculator-page>
<div class="seperator">&nbsp;</div>
<div class="content-container">
  <button mat-flat-button class="back-button">Back</button>
  <div class="freight-display-container">
    <p class="information-header">General Information
      <br>
      __________________________
    </p>
    <div class="load-section-information">
      <div class="freight-content"><b class="boldTitles">ID:</b> {{freightLoad.f_id}}</div>
      <div class="freight-content"><b class="boldTitles">Rate:</b> {{freightLoad.rate | money}}</div>
      <div class="freight-content"><b class="boldTitles">Start Address:</b> {{freightLoad.startAddress}}</div>
      <div class="freight-content"><b class="boldTitles">End Address:</b> {{freightLoad.endAddress}}</div>
    </div>
    <p class="information-header">Additional Costs
      <br>
      __________________________
    </p>
    <div class="load-section-information">
      <div class="freight-content"><b class="boldTitles">Gas Cost:</b> {{freightLoad.gasCost | money}}</div>
      <div class="freight-content"><b class="boldTitles">Driver Pay:</b> {{freightLoad.driverPay | money}}</div>
      <div class="freight-content"><b class="boldTitles">Load Cost:</b> {{freightLoad.loadCost | money}}</div>
      <div class="freight-content"><b class="boldTitles">Insurance Cost:</b> {{freightLoad.insuranceCost | money}}</div>
      <div class="freight-content"><b class="boldTitles">Maintenance Cost:</b> {{freightLoad.maintenanceCost | money}}
      </div>
    </div>
    <p class="information-header">Trip Duration
      <br>
      __________________________
    </p>
    <div class="load-section-information">
      <div class="freight-content"><b class="boldTitles">Arrival Time:</b> {{arrivalTime}}</div>
      <div class="freight-content"><b class="boldTitles">Departure Time:</b> {{departureTime}}</div>
    </div>
    <p class="information-header">Route Information
      <br>
      __________________________
    </p>
    <div class="load-section-information">
      <div class="freight-content"><b class="boldTitles">Length In Meters:</b> {{lengthInMeters}}</div>
      <div class="freight-content"><b class="boldTitles">Traffic Delay In Seconds:</b> {{trafficDelayInSeconds}}</div>
      <div class="freight-content"><b class="boldTitles">Travel Time In Seconds:</b> {{travelTimeInSeconds}}</div>
    </div>
    <div class="load-section-information">
      <div class="freight-content"><b class="boldTitles">For More Info:</b> {{phone}}</div>
    </div>
  </div>
  <div class="map-display-container">
    <app-map-display class="map-display" (trafficDelayInSecondsChanged)="trafficDelayInSeconds=$event"
      (travelTimeInSecondsChanged)="travelTimeInSeconds=$event" (arrivalTimeChanged)="arrivalTime=$event"
      (lengthInMetersChanged)="lengthInMeters=$event" (departureTimeChanged)="departureTime=$event"></app-map-display>
  </div>
</div>