<app-banner></app-banner>
<div class="home-page-container">
    <div class="home-page-container-image">
        <div class="home-page-image">
            <b class="company-motto-text">We Help Take The Pain Out Of Logistics With Fast, Affordable, and Top of The Line Service.</b>
        </div>
    </div>
    <div class="home-page-section">
        <div class="logistics-type-section">
            <h2 class="logistics-title">Domestic</h2>
            <img src="../../../assets/images/Icons/domestic-truck-icon.svg" alt="domestic-truck" class="logistics-icon">
            <p class="logistics-body-text">With our network of carriers we are more than capable of handling anything over the road.</p>
        </div>
        <div class="logistics-type-section">
            <h2 class="logistics-title">Drayage</h2>
            <img src="../../../assets/images/Icons/drayage-container-icon.svg" alt="drayage-container" class="logistics-icon">
            <p class="logistics-body-text">Servicing all Ports and Rails in the US and Canada.</p>

        </div>
        <div class="logistics-type-section">
            <h2 class="logistics-title">Sea</h2>
            <img src="../../../assets/images/Icons/international-boat-icon.svg" alt="international-vessel" class="logistics-icon">
            <p class="logistics-body-text">We have a variety of contacts to get space on a vessel for you.</p>

        </div>
        <div class="logistics-type-section">
            <h2 class="logistics-title">Air</h2>
            <img src="../../../assets/images/Icons/international-air-icon.svg" alt="international-air" class="logistics-icon">
            <p class="logistics-body-text">Need something shipped by air? We can handle all major airlines in the world. If its a place in the middle of no where don't worry we'll find a solution</p>
        </div>
    </div>
</div>