<app-banner></app-banner>
<app-nav-bar></app-nav-bar>
<app-search-bar class = "searchBar" (searchFor) = "ngAfterViewInit()" *ngIf = "isSignedIn"></app-search-bar>
<div *ngIf = "isBroker" class = "freightSorter">
    <mat-tab-group  mat-align-tabs="center" dynamicHeight>
        <mat-tab label="All" class = "freightTabs">
            <div class = "freightSorting">
            <app-freight-load-table *ngFor = "let f of freightLoads" [freightLoad] = "f"></app-freight-load-table>
        </div>
        </mat-tab>
        <mat-tab label="Posted" class = "freightTabs">
            <div class = "freightSorting">
                <app-freight-load-table *ngFor = "let f of freightPosted" [freightLoad] = "f"></app-freight-load-table>
            </div>
        </mat-tab>
        <mat-tab label="In Progress" class = "freightTabs">
            <div class = "freightSorting">
                <app-freight-load-table *ngFor = "let f of freightInProgress" [freightLoad] = "f"></app-freight-load-table>
            </div>
        </mat-tab>
        <mat-tab label="Completed" class = "freightTabs">
            <div class = "freightSorting">
                <app-freight-load-table *ngFor = "let f of freightDelivered" [freightLoad] = "f"></app-freight-load-table>
            </div>
        </mat-tab>
        <mat-tab label="Not Completed" class = "freightTabs">
            <div class = "freightSorting">
                <app-freight-load-table *ngFor = "let f of freightFailed" [freightLoad] = "f"></app-freight-load-table>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>
<div *ngIf="isTrucker">
    <app-freight-load-table *ngFor = "let f of freightLoads" [freightLoad] = "f"></app-freight-load-table>
</div>