<app-banner></app-banner>
<app-nav-bar></app-nav-bar>
<app-load-calculator-page (refreshTable) = "ngAfterViewInit()" *ngIf = "isUser"></app-load-calculator-page>
<div class = "seperator">&nbsp;</div>
<div class = "freightDisplayContainer">
  <mat-grid-list cols="2" rowHeight="1.7:1">
    <br>
    <br>
    <mat-grid-tile>
      <div class = "freightGridList1">
        <div class="freightContent"><b class = "boldTitles">ID:</b><br>{{freightLoad.f_id}}</div>
        <br>
        <div class="freightContent"><b class = "boldTitles">Rate:</b><br>{{freightLoad.rate | money}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Start Address:</b><br>{{freightLoad.startAddress}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">End Address:</b><br>{{freightLoad.endAddress}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Gas Cost:</b><br>{{freightLoad.gasCost | money}}</div>
        <br>
      
      </div>
      <div class = "freightGridList2">
        <div class = "freightContent"><b class = "boldTitles">Driver Pay:</b><br>{{freightLoad.driverPay | money}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Load Cost:</b><br>{{freightLoad.loadCost | money}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Insurance Cost:</b><br>{{freightLoad.insuranceCost | money}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Maintenance Cost:</b><br>{{freightLoad.maintenanceCost | money}}</div>
        <br>
   <!-- <div class = "freightContent"><b class = "boldTitles">Arrival Time:</b> {{arrivalTime}}</div>
        <div class = "freightContent"><b class = "boldTitles">departureTime Time:</b> {{departureTime}}</div> -->
        <div class = "freightContent"><b class = "boldTitles">Length In Meters:</b><br>{{lengthInMeters}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Traffic Delay In Seconds:</b><br>{{trafficDelayInSeconds}}</div>
        <br>
        <div class = "freightContent"><b class = "boldTitles">Travel Time In Seconds:</b><br>{{travelTimeInSeconds}}</div>
        <div class = "freightContent"><b class = "boldTitles">For More Info:</b><br>{{phone}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-map-display class ="mapDisplay" (trafficDelayInSecondsChanged)="trafficDelayInSeconds=$event" (travelTimeInSecondsChanged)="travelTimeInSeconds=$event"
        (arrivalTimeChanged)="arrivalTime=$event" (lengthInMetersChanged)="lengthInMeters=$event" (departureTimeChanged)="departureTime=$event"></app-map-display>
    </mat-grid-tile>
  </mat-grid-list>

   
    
    <div class = "freightLogisitics">


      </div>
</div>

