.map-display {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-container {
    position: relative;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.map-display-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.freight-display-container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.freight-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.information-header {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-image: linear-gradient(180deg,#28a4b9,black);
    flex-wrap: wrap;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.load-section-information {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
}

.back-button {
    position: absolute;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 1, 1);
    border: 1px solid white;
    z-index: 100;
    margin-left: 1.0%;
    margin-top: 1.0%;
    width: 10%;
    height: 4%;
    top: 0;
}

.back-button:focus{
    outline: none;
}

.boldTitles {
    font-weight: 300;
}

.freight-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 30%;
    height: 100%;
    background-color: black;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.freight-value {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    border: 1px solid white;
    background-color: grey;
    text-align: center;
}

.freight-item,.freight-value{
    padding-top: .6%;
    padding-bottom: .6%;
}

