<mat-card class = "freightDisplay" (click) = "selectFreight()" [ngStyle]="{'background-image': freightColor}">

    <mat-card-title class = "freightName">{{freightLoadCard.startAddress}} to {{freightLoadCard.endAddress}}</mat-card-title>
    <mat-card-subtitle class = "freightBrokerName">freight broker: {{freightLoadCard.freightBroker.firstName}} {{freightLoadCard.freightBroker.lastName}}</mat-card-subtitle>
    <div class = "freightContainer">
        <span class="freightContent"><b class = "boldTitles">ID:</b> {{freightLoadCard.f_id}}</span>
        <span class="freightContent"><b class = "boldTitles">Rate:</b> {{freightLoadCard.rate | money}}</span>
        <span class = "freightContent"><b class = "boldTitles">Gas Cost:</b> {{freightLoadCard.gasCost | money}}</span>
        <span class = "freightContent"><b class = "boldTitles">Driver Pay:</b> {{freightLoadCard.driverPay | money}}</span>
        <span class = "freightContent"><b class = "boldTitles">Load Cost:</b> {{freightLoadCard.loadCost | money}}</span>
        <span class = "freightContent"><b class = "boldTitles">Insurance Cost:</b> {{freightLoadCard.insuranceCost | money}}</span>
        <span class = "freightContent"><b class = "boldTitles">Maintenance Cost:</b> {{freightLoadCard.maintenanceCost | money}}</span>
    </div>

</mat-card>
