<mat-card class="freight-display" (click)="selectFreight()" [ngStyle]="{'background-image': freightColor}">
    <mat-card-title class="freight-title-text">
        <div class="freight-locations">
            <b class="freight-location">Pickup:</b>
            {{freightLoad.startAddress}}
        </div>
        <div class="freight-locations">
            <b class="freight-location">Deliver:</b>
            {{freightLoad.endAddress}}
        </div>
    </mat-card-title>
    <mat-card-subtitle class="freight-broker-title"><b>Broker:</b>{{freightLoad.freightBroker.firstName}}
        {{freightLoad.freightBroker.lastName}}</mat-card-subtitle>
    <div class="freight-container">
        <div class="freight-content"><b>ID:</b> {{freightLoad.f_id}}</div>
        <div class="freight-content"><b>Rate:</b> {{freightLoad.rate | money}}</div>
        <div class="freight-content"><b>Gas Cost:</b> {{freightLoad.gasCost | money}}</div>
        <div class="freight-content"><b>Driver Pay:</b> {{freightLoad.driverPay | money}}</div>
        <div class="freight-content"><b>Load Cost:</b> {{freightLoad.loadCost | money}}</div>
        <div class="freight-content"><b>Insurance Cost:</b> {{freightLoad.insuranceCost | money}}</div>
        <div class="freight-content"><b>Maintenance Cost:</b> {{freightLoad.maintenanceCost | money}}</div>
    </div>
</mat-card>