
.calculator_container{
    padding-top: 20px;
    width: 100%;
    height: 20%;
    min-height: 20%;
    max-height: 20%;
    background-image: linear-gradient(0deg,#114f79,black);
    color: white;
}

.input_text{
    color: white;
}

.load_calculator_title{
    font-size: 30px;
    margin-left:28%;
}

.calculator_content{
    margin-left: 500px;
}

.calculator_button{
    color: white;
    margin-right: 100px;
}

.addFreightButton{
    background-color: green;
    margin-left: 10px;
}

.addIcon{
    color: white;
}