.signout-container{
    width: 40%;
    height: 20%;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border-style: solid;
    border: 1px solid white;
    background-image: linear-gradient(180deg,#28a4b9,black);
    display: flex;
    flex-wrap: wrap;
}

.signout-choices{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 30%;
    flex-direction: row;
}

.yes-button{
    color: white;
    background-color: darkgreen;
    display: flex;
    width: 40%;
    height: 90%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.no-button{
    color: white;
    background-color: darkred;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.signout-text{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    color: white;
    flex-direction: row;
    height: 30%;
    width: 100%;
    margin-top: 2%;
}

.signout-display{
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.39);
    display:flex;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
}