<app-banner></app-banner>
<app-load-calculator-page (refreshTable)="ngOnInit()"></app-load-calculator-page>
<app-search-bar class="search-bar" (searchFor)="ngOnInit()"></app-search-bar>
<div class="tab-group-parent">
    <mat-tab-group class="tabs-container" mat-align-tabs="center" #loadStatusBoard [(selectedIndex)]="selectedTab"
        (selectedIndexChange)="onSelectedIndexChange($event)">
        <mat-tab label="All" class="freight-tab" autofocus>
            <ng-template matTabContent>
                <div class="freight-container">
                    <app-freight-load-table *ngFor="let f of freightLoads" [freightLoad]="f"
                        class="freight-card-container"></app-freight-load-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Posted" class="freight-tab">
            <ng-template matTabContent>
                <div class="freight-container">
                    <app-freight-load-table *ngFor="let f of freightPosted" [freightLoad]="f"
                        class="freight-card-container"></app-freight-load-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="In Progress" class="freight-tab">
            <ng-template matTabContent>
                <div class="freight-container">
                    <app-freight-load-table *ngFor="let f of freightInProgress" [freightLoad]="f"
                        class="freight-card-container"></app-freight-load-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Completed" class="freight-tab">
            <ng-template matTabContent>
                <div class="freight-container">
                    <app-freight-load-table *ngFor="let f of freightDelivered" [freightLoad]="f"
                        class="freight-card-container"></app-freight-load-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Not Completed" class="freight-tab">
            <ng-template matTabContent>
                <div class="freight-container">
                    <app-freight-load-table *ngFor="let f of freightFailed" [freightLoad]="f"
                        class="freight-card-container"></app-freight-load-table>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>