<div class="banner-background">
  <div class="banner-content">
    <div class="left-nav-side">
      <div class="main-menu-button-container" *ngIf="personSignedIn !== null && personSignedIn.pId > 0">
        <button mat-icon-button (click)="sidenav.toggle()" class="main-menu-buttons">
          <mat-icon class="mat-banner-icon">menu</mat-icon>
        </button>
      </div>
      <div class="sidenav-content-container" [ngStyle]="{'z-index':sidenav.opened === true ? '100' : '0'}">
        <mat-sidenav-container class="side-layout">
          <mat-sidenav #sidenav mode="side" class="sidenav-slider" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom" [opened]="false">
            <div class="menu-title"><b>Menu</b></div>
            <mat-divider class="menu-divider"></mat-divider>
            <div class="side-menu-options">
              <button mat-button class="side-menu-buttons" (click)="homePage()">Home</button>
              <button mat-button class="side-menu-buttons" (click)="loadCalculator()">My Loads</button>
              <button mat-button class="side-menu-buttons"[disabled]=true>Coming Soon...</button>
              <mat-divider class="menu-divider"></mat-divider>
            </div>
          </mat-sidenav>
        </mat-sidenav-container>
      </div>
      <div class="site-title" (click)="homePage()" [ngStyle]="{'margin-left':(personSignedIn === null || personSignedIn.pId === 0) ? '3%' : '0%'}">Load</div>
    </div>
    <div class="right-nav-side">
      <div class="login-content">
        <button mat-icon-button class="main-menu-buttons">
          <mat-icon class="mat-banner-icon" *ngIf="personSignedIn === null" (click)="loginDisplay()">login</mat-icon>
          <mat-icon class="mat-banner-icon" *ngIf="personSignedIn != null && personSignedIn.pId > 0" (click)="signoutDisplay()">person</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-login-display></app-login-display>
<app-sign-out class="signoutDisplay" (toggleSignoutIcon)="signoutDisplay()"></app-sign-out>