/* You can add global styles to this file, and also import other style files */

html, body {
    background-color:#155763;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(90deg, #155763,black);
    width: 100%;
    height: 100%;
 }

