<mat-accordion class="load-accordion" [ngStyle]="{'height': isLoadCreationToggled === true ? '100%' : '200%'}">
  <mat-expansion-panel [disabled]="true" [expanded]="isLoadCreationToggled" class="load-expansion-panel">
    <mat-expansion-panel-header class="load-panel-header">
      <div class="search-bar-container">
        <form [formGroup]="searchOptionsForm" class="search-options-form">
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Sort By:</mat-label>
            <!-- <span matPrefix class="mat-prefix-sorter-icon"><mat-icon class="sorter-icon">home</mat-icon></span> -->
            <mat-select class="input-dropdown-text" formControlName="sortByField">
              <mat-option class="input-dropdown-options" (click)="searchByIds()" value="0">ID</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchForRates()" value="1">Rate</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchForStartAddresses()" value="2">Start
                Address</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchForEndAddresses()" value="3">End
                Address</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchByGasCost()" value="4">Gas Cost</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchByDriverPay()" value="5">Driver Pay</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchByLoadCost()" value="6">Load Cost</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchByInsuranceCost()" value="7">Insurance
                Cost</mat-option>
              <mat-option class="input-dropdown-options" (click)="searchByMaintenanceCost()" value="8">Maintenance
                Cost</mat-option>
            </mat-select>
            <!-- <span matSuffix class="mat-suffix-sorter-icon"><mat-icon class="sorter-icon">home</mat-icon></span> -->

          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <span matPrefix class="mat-prefix-sorter-icon">
              <mat-icon class="sorter-icon" *ngIf="!isSortedFromHighToLow">arrow_downward</mat-icon>
              <mat-icon class="sorter-icon" *ngIf="isSortedFromHighToLow">arrow_upward</mat-icon>
            </span>
            <mat-label class="input-label">Sort From:</mat-label>
            <mat-select class="input-dropdown-text" formControlName="sortDirection" panelClass="dropdown-panel">
              <mat-option class="input-dropdown-options" (click)="sortFromLowToHigh()" value="0">Low to
                High</mat-option>
              <mat-option class="input-dropdown-options" (click)="sortFromHighToLow()" value="1">High to
                Low</mat-option>
            </mat-select>
            <span matSuffix class="mat-suffix-sorter-icon">
              <mat-icon class="sorter-icon" *ngIf="!isSortedFromHighToLow">arrow_downward</mat-icon>
              <mat-icon class="sorter-icon" *ngIf="isSortedFromHighToLow">arrow_upward</mat-icon>
            </span>
          </mat-form-field>
          <mat-form-field class="mat-field-search" appearance="outline">
            <mat-label class="search-label-text">Search</mat-label>
            <input matInput class="search-bar" formControlName="searchInput" type="text" value=""
              placeholder="$50000, 123 Test Ave, John Adams">
            <button mat-icon-button matSuffix class="search-icon" (click)="searching()">
              <mat-icon matSuffix>search</mat-icon>
            </button>
          </mat-form-field>
        </form>
        <div class="load-expansion-button-container">
          <button mat-flat-button class="load-creation-expansion-button" *ngIf="!isLoadCreationToggled"
            (click)="openLoadCreation()">
            <span class="mat-prefix-sorter-icon">
              <mat-icon class="sorter-icon">create</mat-icon>
            </span>
              <div class="load-creation-button-toggle-text">Open Load Creation</div>
            <span class="mat-suffix-sorter-icon">
              <mat-icon class="sorter-icon">create</mat-icon>
            </span>
          </button>
          <button mat-flat-button class="load-creation-close-button" *ngIf="isLoadCreationToggled"
            (click)="closeLoadCreation()">
            <span class="mat-prefix-sorter-icon">
            <mat-icon class="sorter-icon">close</mat-icon>
            </span>
            Close Load Creation
            <span class="mat-suffix-sorter-icon">
              <mat-icon class="sorter-icon">close</mat-icon>
              </span>
          </button>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div class="calculator-container">
      <div class="calculator-content">
        <div class="load-calculator-title">Add Load</div>
        <form [formGroup]="loadForm" (ngSubmit)="newLoad(formDirective)" #formDirective="ngForm" class="load-form">
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Rate</mat-label>
            <input matInput class="input-text" type="number" formControlName="rate" ng-blur='isInputValid(rate)'
              required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Pickup Street Address</mat-label>
            <input matInput class="input-text" formControlName="address1" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Pickup City</mat-label>
            <input matInput class="input-text" formControlName="city1" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Pickup State</mat-label>
            <input matInput class="input-text" formControlName="state1" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Pickup Zipcode</mat-label>
            <input matInput class="input-text" formControlName="zipcode1" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Delivery Street Address</mat-label>
            <input matInput class="input-text" formControlName="address2" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Delivery City</mat-label>
            <input matInput class="input-text" formControlName="city2" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Delivery State</mat-label>
            <input matInput class="input-text" formControlName="state2" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Delivery Zipcode</mat-label>
            <input matInput class="input-text" formControlName="zipcode2" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Gas Cost</mat-label>
            <input matInput class="input-text" type="number" formControlName="gasCost" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Truck Driver Pay</mat-label>
            <input matInput class="input-text" type="number" formControlName="truckDriverPay" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Load Cost</mat-label>
            <input matInput class="input-text" type="number" formControlName="loadCost" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Insurance Cost</mat-label>
            <input matInput class="input-text" type="number" formControlName="insuranceCost" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-input">
            <mat-label class="input-label">Maintenance Cost</mat-label>
            <input matInput class="input-text" type="number" formControlName="maintenanceCost" required>
          </mat-form-field>
          <mat-form-field appearance="outline" type="number" class="field-input">
            <mat-label class="input-label">Load Status</mat-label>
            <mat-select class="input-dropdown-text" formControlName="status" required>
              <mat-option class="input-dropdown-options" value="0">Posted</mat-option>
              <mat-option class="input-dropdown-options" value="1">In Progress</mat-option>
              <mat-option class="input-dropdown-options" value="2">Completed</mat-option>
              <mat-option class="input-dropdown-options" value="3">Not Completed</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-flat-button color="green" [disabled]="!loadForm.valid" type="submit" class="add-freight-button">
            <div *ngIf="loadForm.valid && !isLoadBeingGenerated" class="load-form-feedback">
              <span class="mat-prefix-sorter-icon">
              <mat-icon class="sorter-icon">add_task</mat-icon>
            </span>
              <div class="load-creation-button-toggle-text">Create Load</div>
              <span class="mat-suffix-sorter-icon">
              <mat-icon class="sorter-icon">add_task</mat-icon>
            </span>
            </div>
            <div *ngIf="!loadForm.valid && !isLoadBeingGenerated" class="load-form-feedback">
              <span class="mat-prefix-sorter-icon">
                <mat-icon class="sorter-icon warning-icon">error_outline</mat-icon>
              </span>
              <div class="load-creation-button-toggle-text">Add information required to submit...</div>
              <span class="mat-suffix-sorter-icon">
                <mat-icon class="sorter-icon warning-icon">error_outline</mat-icon>
              </span>
            </div>
            <div *ngIf="isLoadBeingGenerated" class="load-form-feedback">
              <div class="create-freight-loading-bar-container">
                <h2 class="create-freight-loading-bar-title">Creating Load...</h2>
                <mat-spinner class="create-freight-loading-bar"></mat-spinner>
              </div>
            </div>
          </button>
        </form>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>