.search-label-text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon:hover{
    cursor: pointer;
}

.search-icon:focus{
    outline:none;
}

.search-bar-container{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-image: linear-gradient(270deg,#114f79,black) !important;
}

.search-dropdown-options{
    color: white !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    text-wrap: wrap;
    border: 1px solid white;
    background-image: linear-gradient(180deg,#28a4b9,black) !important;
}

.load-form-state-abbreviations{
    background-color: linear-gradient(180deg,#28a4b9,black) !important;
}

.search-dropdown-options:hover{
    background-image: linear-gradient(180deg,#28a4b9,white) !important;
    color: black !important;
    border: 2.5px inset yellow;
}

.mat-option-text{
    display: flex;
}

input::placeholder {
    color: rgb(129, 129, 129);
}

.mat-input-element{
    caret-color: white;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline 
    {
       color: white;
    }

.high-to-low-sorter{
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: 100%;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    margin-left: 1%;
}

.high-to-low-sorter:focus{
    outline: none;
}

.sort-by-category{
    display: flex;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border:1px solid white;
}

.sort-menu-item{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sort-by-category:focus{
    outline: none;
}

.search-options-form{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.search-bar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.mat-field-search{
    display: flex;
    width: fit-content;
    height:100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 1%;
}

.add-freight-button{
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid white;
    margin-bottom: 1%;
}

.warning-icon{
    color:yellow !important;
}

.load-form{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

:host
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 2%;
}

.field-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 2.5%;
    font-size: 15px;
    width: 30%;
    text-align: center;
}
.input-label{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.input-text{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.input-dropdown-text{
    color: white !important;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-dropdown-options{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: black;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.option-icon{
    color: black !important;
}

.option-content{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    font-size: 20px;
}

::ng-deep .mat-select-arrow{
    color: transparent !important;
}

::ng-deep .mat-select-value-text{
    color: white;
}

input::placeholder{
    color: grey;
}

input{
    color: white;
}

.field-input:nth-child(1n){
    flex-basis: 15%;
}

.create-freight-loading-bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
}

.create-freight-loading-bar-title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    color: white;
    text-align: center;
}

.create-freight-loading-bar-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

:host
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #28a4b9 !important;
}

.load-form-feedback{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: white;
    font-size: 24px;
    height: 100%;
    width: fit-content;
}

.load-accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.load-expansion-panel{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(270deg,#114f79,black) !important;
}

.load-panel-header:hover{
    cursor: default;
}

.load-panel-header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg,#114f79,black) !important;
}

.load-creation-expansion-button{
    color: white;
    background-color: green;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 1px solid white;
    flex-direction: row;
}

.load-creation-close-button{
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 1px solid white;
    flex-direction: row;
}

.load-expansion-button-container{
    justify-content: center;
    align-content: center;
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
}

.sorter-icon{
    display: inline-flex;
    color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 32px;
}

.mat-prefix-sorter-icon{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}

.mat-suffix-sorter-icon{
    display: inline-flex;
    justify-content: center;
    align-self:center;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.load-creation-button-toggle-text{
    display: inline-flex;
    width: fit-content;
    height: 100%;
    flex-direction: row;
}

.load-creation-expansion-button:focus{
    outline: none;
}

.load-creation-close-button:focus{
    outline: none;
}

.calculator-container{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-size: 14px;
    border: 1px solid white;
    margin-top: 1%;
    flex-wrap: wrap;
}

.load-calculator-title{
    font-size: 30px;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.calculator-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.calculator-button{
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}